body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0; 
  color: #fff;
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary {
  padding: 15px 30px;
}

.btn-secondary:hover {

}

.btn-secondary {
  background-color: #E3ECEB;
  border-color: #B2B5B4; 
  padding: 15px 30px;
}

.btn-secondary:hover {
    background-color: #B2B5B4; 
}

#header {
  height: 100vh;
  position: relative; 
  background: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), 
    url('../imgs/bg.jpg') center/cover fixed no-repeat;
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.header-content {
  color: #fff;
  z-index: 2;
  margin-top: 100px;
}

.header-content h1 {
  font-weight: bold;
  font-size: 78px;
}

.header-content h2 {
  font-size: 40px;
}

.enter-portfolio {
  margin-left: 85px;
  margin-top: 50px;
  color: #000;
}

.profile-pic {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

/* Social buttons container */
.social-buttons {
    display: flex;
    gap: 20px; /* Adds space between buttons */
    justify-content: center; /* Centers the buttons horizontally */
    margin-top: 20px; /* Adds top space for better layout */
}

/* Social button styling */
.social-button {
    width: 50px; /* Set width to 50px */
    height: 50px; /* Set height to 50px */
    border-radius: 50%; /* Make the button circular */
    background-color: black; /* Set background color to black */
    overflow: hidden;
    display: flex; /* Ensure buttons are aligned horizontally */
    justify-content: center; /* Center image in the button */
    align-items: center; /* Center image in the button */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth hover effect */
}

/* Hover effect for social buttons */
.social-button:hover {
    transform: scale(1.1); /* Slightly scale up the button on hover */
    background-color: #333; /* Darker background color on hover */
}

/* Image styling inside social buttons */
.social-button img {
    width: 70%; /* Ensures the image is not too large for the circle */
    height: 70%; /* Keeps the image proportional */
    object-fit: cover; /* Ensures the image covers the button fully */
}





.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: block; 
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  border-radius: 10%;
  background: rgba(52, 58, 64, 0.5);
  line-height: 60px;
  font-size: 24px;
  text-decoration: none;
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out; 
  z-index: 3;
  font-family: 'Courier New', monospace !important;
}

.scroll-to-top.visible {
  opacity: 1;
  visibility: visible; 
}

.scroll-to-top:hover {
  background: rgba(52, 58, 64, 0.8);
}
