body {
  font-family: 'Oxygen', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0; 
}

.navbar {
  background-color: #343a40;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

#header {
  height: 100vh;
  position: relative; 
  background-image: url('../imgs/bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.header-content {
  position: absolute;
  top: 145px; 
  left: 220px; 
  text-align: center; 
  color: #fff;
}

#header h1 {
  font-size: 112px;
}

#header h2 {
  font-size: 70px;
  font-style: italic;
}


section {
  position: relative;
  padding: 40px 0;
  background-color: #ffffff; 
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  margin: 0; 
  text-align: center;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

.section-image {
  padding: 100px 0;
  background-color: #ffffff; 
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
}

.navbar-icon {
  margin-right: 5px; 
  margin-top: -3px; 
}

@media (max-width: 767px) {
  .section-image {
    padding: 50px 0;
  }

  #about {
    padding-top: 150px;
  }

  #header h1 {
    font-size: 72px; 
  }

  #header h2 {
    font-size: 40px; 
  }
}
